html {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}
.navbar_logo {
    width: auto;
    padding: 0 3em 0;
}

.navbar_logo a {
    font-size: 2em;
}

.navbar_menu {
    padding-top: .5em;
}

a:hover {
  color: darkorange;
  background-color: transparent;
  text-decoration: underline;
}

.fixedBG {
    background-image: url(../images/parallaxImage.jpeg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p {
    font-family: josefinSlab;
}

h3 {
    font-family: megrim;
}

.shows {
    scroll-margin-top: 40px;
}

.music {
    scroll-margin-top: 60px;
}

.bio {
    scroll-margin-top: 220px;
}

.shows h1 {
    margin-top: 70px;
}

.shows p {
    font-size: 1.6em;
}

.calContainer {
    margin-top: 25px;
    margin-bottom: -40px;
}

.newsletter {
    padding-left: 2.2em;
}
input {
  width: 250px;
}

.newsletter button {
    padding: 5px;
    color: black;
    background-color: darkorange;
}

.bio {
    margin: 150px 0;
}

.bio p {
    font-size: 1.5em;
}

.photos {
    margin-bottom: 270px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    height: 5em;
    padding-top: 1em;
}
footer i {
    font-size: 1.5em;
    margin-left: .5em;
}
footer p {
    margin-top: -30px;
}